{{ define "main" }}

   {{- partial "menu-single.html" . -}}

    <div class="content">
        {{/*  <h1>{{ .Page.Title }}</h1>  */}}
        {{ if and (isset .Params "image") .Params.image.src }}
            {{ $image := .Page.Resources.GetMatch .Params.image.src }}
            {{ with $image }}
                {{ printf `<img src="%s" alt="%s">` $image.RelPermalink .Title | safeHTML }}
            {{end}}
        {{ end }}

        {{ with .Params.featured_image }}
  <img src="{{ .src }}" alt="{{ .alt }}" title="{{ .caption }}" />
{{ end }}

        {{ .Content }}

    </div>
{{ end }}