<footer>
           <p>&copy; Todd Lester </p>

          
</footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname;
        const bodyElement = document.body; // or document.documentElement for <html>
        if (currentPath === '/projects/el-mejor-karate/') {
            bodyElement.classList.toggle('emk-mode');
            } else if (currentPath === '/projects/freedimensional/') {
            bodyElement.classList.toggle('fd-mode');
            } 
        });
    </script>