
    <div class="list-project">
        <a href="http://localhost:1313/projects/freedimensional/" title="freeDimensional">freeDimensional</a>
        <a href="http://localhost:1313/projects/lanchonete/" title="Lanchonete(.)org">Lanchonete(.)org</a>
        <a href="http://localhost:1313/projects/luv-til-it-hurts/" title="Luv ‘til it Hurts">Luv 'til it Hurts</a>
        <a href="http://localhost:1313/projects/el-mejor-karate/" title="el mejor karate">el mejor karate</a>
        <a href="http://localhost:1313/projects/farm-school/" title="FARM/SCHOOL (f/s)">FARM/SCHOOL (f/s)</a>
        <a href="http://localhost:1313/projects/my-art-world/" title="my Art World">my Art World</a>

        {{/*
        {{ with .Site.GetPage "projects" }}
        {{ range (sort .Pages "Date" "asc" )}}

        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>

        {{ end }}
        {{ end }} */}}
    </div>