<menu>

    <div class="page">
        {{ .TableOfContents }}
        <a href="#">CV</a>
    </div>


    {{ if .Params.summary }}
    <div class="list-summary">
        <p>{{ .Params.summary }}</p>
    </div>
    {{ end }}

    <div class="list-project">
        {{ with .Site.GetPage "/projects" }}
        {{ range first 10 (sort .Pages "Date" "asc" (where .Pages ".Params.private" "!=" true))}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        {{ end }}
        {{ end }}
    </div>
</menu>