<div class="menu">

    <a aria-current="page" href="{{ .RelPermalink }}" class="header-crumb">
        {{ if not .IsHome }}
        / {{ .LinkTitle }}
        {{ end }}
    </a>

    {{ with .GetPage "info" }}
    <div class="info">
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
    </div>
    {{ end }}


    <div class="list">
        {{ with .Site.GetPage "/posts" }}
        {{ range first 10 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </div>
        {{ end }}
        {{ end }}
    </div>

    <div class="list">
        {{ with .Site.GetPage "/projects" }}
        {{ range first 10 (sort .Pages "Date" "asc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </div>
        {{ end }}
        {{ end }}
    </div>



</div>