:root {
    --global-font-size: 16px;
    --global-font-color: #444;
    /* --mono-font-stack: Roboto Mono, "Fira Sans", "Droid Sans",
        Courier New, monospace, serif;
    --font-stack: Roboto Mono, "Fira Sans", "Droid Sans", Courier New, monospace,
        serif; */
    --global-line-height: 1.6em;
    --page-width: 70em;
    --display-h1-decoration: 1;
}

html {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

body {
    /* font-family: "Roboto Mono", "Fira Sans", "Droid Sans", sans-serif; */
        font-family: "Roboto";
/* font-family: "Lato";     */
    /* font-family: "BitcountGridDouble";  */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 1080px;
}

header,
footer {
    width: 100%;
    height: 5vh;
}

header a:link,
a:visited {
    text-decoration: none;
    color: black;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 86vh;
}

/* MENU */

menu {
    width: 260px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-right: 1px solid;
    background-color: white;
}

menu a {
    color: black;
    text-decoration: none;
}

menu .page {
    line-height: 1.5;
    padding: 9px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

menu .page img {
    width: 25px;
}

menu a:hover {
    text-decoration: underline;
    color: lightcoral
}

#TableOfContents ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 5px 0;
}

#TableOfContents ul li {
    line-height: 2em;
}

menu .list-summary {
     flex-grow: 1;
    border-top: 1px solid;
    padding: 10px 13px 0;
    line-height: 1.4;
    height: 500px;
    overflow-y: auto;
}

menu .list-summary .post {
    margin-bottom: 1.3em;
}

menu .list-summary p {
    margin: 0;
    text-align: justify;
}

menu .list-summary a {
    text-decoration:underline;
}

menu .list-project {
    border-top: 1px solid;
    line-height: 1.5;
    padding: 9px;
}

menu .list-project a {
    display: block;
}

#project a {
    text-decoration: none;
    color: black;
}

.project-list-flex {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
}

#project .list-post {
    line-height: 1.5;
    padding: 0 10px;
    overflow-y: auto;
    margin: 1em 0;

}

#project .post {

    margin: 1em 0;
}

#project .list-project {
    margin: 0;
    line-height: 1.5;
    padding: 9px;
    border-top: 1px solid;
    overflow-y: auto;
}

#project .list-project a {
    display: block;
}

/* WIGGLE */
@keyframes wiggle {

    0%,
    100% {
        transform: translateX(0) translateY(0);
    }

    25%,
    75% {
        transform: translateX(5px) translateY(-7px);
        /* Add y shaking */
    }

    50% {
        transform: translateX(0) translateY(10px);
        /* Add more y shaking */
    }
}

.wiggle {
    transition: transform 0.4s ease-in-out;
}

.wiggle:hover {
    animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: 2;
    cursor: url('fire.svg') 50 50, auto;
}

/* CONTENT */

.content {
    width: 720px;
    font-size: small;
    background-color: white;
    border: 1px solid;
    padding: 15px 35px;
    overflow-y: auto;
}

.content p {
    font-size: 18px;

}

audio {
    float: right;
    width: 70%;
    height: 120px;
}

.image-grid img {
    width: 25vh;
}

.image-grid a {
    text-decoration: none;
}

/* RESPONSIVE */

@media (max-width: 1120px) {
    html {
        display: flex;
        justify-content: start;
        align-items: start;
    }
}

/* CUSTOM MODES */

body.home menu{
border-right: 1px solid;
}

body.emk-mode {
    background-image: url('bg/background-emk.jpg');
    /* background-position: center; */
    color: #f5f5f5;
}

body.emk-mode menu,
body.emk-mode .content {
    background-color: rgb(45, 45, 45);
    color: #f5f5f5;
}

body.emk-mode menu {
    border: 1px solid;
}

body.emk-mode a,
body.emk-mode a:visited {

    color: #f5f5f5;
}

body.emk-mode a:hover {
    color: #f5f5f5;
}

/* body.emk-mode #project .list-project a {
    color: white;
}
body.emk-mode #project a {
    text-decoration: none;
    color: white;
}

body.emk-mode .content {
    border: 1px solid !important;

    font-size: small;

    padding: 8px 35px 35px;
}  */

body.info-mode {
    background-image: url('bg/background-info.svg');
    background-size: cover;
    background-position: center;
}

body.fd-mode {
    background-image: url('bg/background-fd.svg');
    background-size: cover;
    background-position: center;
}

body.lanch-mode {
    background-image: url('bg/background-lanch.svg');
    background-size: cover;
    background-position: center;
}

body.luv-mode {
    background-image: url('bg/background-luv.svg');
    background-size: cover;
    background-position: center;
}

body.fs-mode {
    background-image: url('bg/background-fs.svg');
    background-size: cover;
    background-position: center;
}

body.maw-mode {
    background-image: url('bg/background-maw.svg');
    background-size: cover;
    background-position: center;
}