@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --global-font-size: 16px;
    --global-font-color: #444;
    --mono-font-stack: Roboto Mono, "Fira Sans", "Droid Sans",
        Courier New, monospace, serif;
    --font-stack: Roboto Mono, "Fira Sans", "Droid Sans", Courier New, monospace,
        serif;
    --global-line-height: 1.6em;
    --page-width: 70em;
    --display-h1-decoration: 1;
}

html {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

body {
    font-family: "Roboto Mono", "Fira Sans", "Droid Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 1080px;
}

header {
    width: 100%;
    height: 5vh;
}

header a,
a:visited {
    text-decoration: none;
    color: black;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#main a {
    text-decoration: none;
    color: black;
}



nav {
    width: 240px;
    height: 75vh;
    background-color: white;
}

#main .page {
    line-height: 1.5;
    padding: 0 9px;
}

.list-flex {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid;
}

#main .list-post {
    margin: 1em 0 0;
    line-height: 1.5;
    padding: 9px;
    border-top: 1px solid;
    overflow-y: auto;

}

#main .post {
    font-size: x-small;
    margin: 1em 0;
}

#main .post a:hover{
text-decoration: underline;
color:lightcoral
}

#main .list-project {
    margin: 0;
    line-height: 1.5;
    padding: 9px;
    border-top: 1px solid;
    overflow-y: auto;
}

#main .list-project a {
display: block;
}

#project a {
    text-decoration: none;
    color: black;
}



.project-list-flex {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
}
#project .list-post {
    line-height: 1.5;
    padding: 0 10px;
    overflow-y: auto;

}
#project .post {
    font-size: x-small;
        margin: 1em 0;
}

#project .list-project {
    margin: 0;
    line-height: 1.5;
    padding: 9px;
    border-top: 1px solid;
    overflow-y: auto;
}

#project .list-project a {
    display: block;
}


/* TOC */

#TableOfContents {
    border: 1px solid;
}





.content {
    width: 720px;
        height: 71vh;
    font-size: small;
    background-color: white;
    border: 1px solid;
    padding: 8px 35px 35px;
    overflow-y: auto;
}

.svg-fill path {
    fill: #141416;
    /* Default light mode color */
}

@media (prefers-color-scheme: dark) {
    .svg-fill path {
        fill: #ffffff;
        /* Dark mode color */
    }
}

/* Define the animation */
@keyframes wiggle {

    0%,
    100% {
        transform: translateX(0) translateY(0);
    }

    25%,
    75% {
        transform: translateX(5px) translateY(-7px);
        /* Add y shaking */
    }

    50% {
        transform: translateX(0) translateY(10px);
        /* Add more y shaking */
    }
}

/* Style for the image */
.wiggle {

    transition: transform 0.3s ease-in-out;
    /* Smooth transition */
}

/* Apply the animation on hover */
.wiggle:hover {
    animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: 2;
}

.splash-cursor {
    cursor: url('fire.svg') 50 50, auto;
}

.image-grid img {
    width: 25vh;
}

.image-grid a {
    text-decoration: none;
}

/* FOOTER */

footer {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

@media (max-width: 1120px) {
    html {
        display: flex;
        justify-content: start;
        align-items: start;
    }
}

/* PROJECT MODES */

body.emk-mode,
body.emk-mode main * {
    background: rgb(45, 45, 45);
    color: #f5f5f5;
    border: none;
}

body.emk-mode header a,
body.emk-mode header a a:visited {
    text-decoration: none;
    background: rgb(45, 45, 45);
    color: #f5f5f5;
}

body.emk-mode #project  {
    border: 1px solid;
    color: #f5f5f5;
}

body.emk-mode #project .list-project a {
    color: white;
}
body.emk-mode #project a {
    text-decoration: none;
    color: white;
}

body.emk-mode .content {
    border: 1px solid !important;

    font-size: small;

    padding: 8px 35px 35px;
}

body.info-mode {
    background-image: url('bg/background-info.svg');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;
}

body.fd-mode {
    background-image: url('bg/background-fd.svg');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;
}

body.lanch-mode {
    background-image: url('bg/background-lanch.svg');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;
}

body.luv-mode {
    background-image: url('bg/background-luv.svg');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;
}

body.fs-mode {
    background-image: url('bg/background-fs.svg');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;
}

body.maw-mode {
    background-image: url('bg/background-maw.svg');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;
}
