@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --global-font-size: 16px;
    --global-font-color: #444;
    --mono-font-stack: Roboto Mono, "Fira Sans", "Droid Sans",
        Courier New, monospace, serif;
    --font-stack: Roboto Mono, "Fira Sans", "Droid Sans", Courier New, monospace,
        serif;
    --global-line-height: 1.6em;
    --page-width: 70em;
    --display-h1-decoration: 1;
}

html {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

body {
    font-family: "Roboto Mono", "Fira Sans", "Droid Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.wrapper {
    height: 75vh;
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


header {
    line-height: 2em;
}

header a,
a:visited {
    text-decoration: none;
    color: black;
}

main {
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-menu .about {
    line-height: 2em;
}


.main-menu .list {
        width: 210px;
    height: 33%;
    line-height: 1.5;
    padding-top: 9px;
    border-top: 1px solid black;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

#TableOfContents {
    min-height: 282px;
    font-size: 0.9em;
}

#TableOfContents ul {
    list-style: none;
    padding-left: 5px !important;
}

#TableOfContents ul li {
    padding: 5px 0 2px 0 !important;
}

.content {
    padding: 25px 5%;
    font-size: small;
}

/* Define the animation */
@keyframes wiggle {

    0%,
    100% {
        transform: translateX(0) translateY(0);
    }

    25%,
    75% {
        transform: translateX(5px) translateY(-7px);
        /* Add y shaking */
    }

    50% {
        transform: translateX(0) translateY(10px);
        /* Add more y shaking */
    }
}

/* Style for the image */
.wiggle {

    transition: transform 0.3s ease-in-out;
    /* Smooth transition */
}

/* Apply the animation on hover */
.wiggle:hover {
    animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: 2;
}

.splash-cursor {
    cursor: url('fire.svg') 50 50, auto;
}



.image-grid img {
    width: 25vh;
}

.image-grid a {
    text-decoration: none;
}

@media (max-width: 1120px) {
    html {
        display: flex;
        justify-content: start;
        align-items: start;
    }
}