@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../font/RobotoMono-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --global-font-size: 16px;
    --global-font-color: #444;
    --mono-font-stack: Roboto Mono, "Fira Sans", "Droid Sans",
        Courier New, monospace, serif;
    --font-stack: Roboto Mono, "Fira Sans", "Droid Sans", Courier New, monospace,
        serif;
    --global-line-height: 1.6em;
    --page-width: 70em;
    --display-h1-decoration: 1;
}

html {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

body {
    font-family: "Roboto Mono", "Fira Sans", "Droid Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 1080px;
}

header {
    width: 100%;
    margin-bottom: 1.3em;
}

header a,
a:visited {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    width: 200px;
    height: 85vh;
}

#main-menu .page {
    line-height: 1.5;
    padding: 0 9px;
}

#main-menu .list {
    height: 33%;
    margin: 1em 0;
    line-height: 1.5;
    padding: 9px;
    border: 1px solid;
}

#main-menu a {
    text-decoration: none;
    color: black;
}

#TableOfContents {
    min-width: 200px !important;
    min-height: 282px;
    font-size: 0.9em;
}

#TableOfContents ul {
    list-style: none;
    padding-left: 5px !important;
}

#TableOfContents ul li {
    padding: 5px 0 2px 0 !important;
}

.content {
    font-size: small;
    background-color: white;
    border: 1px solid;
    padding: 8px 35px 35px;
}

.svg-fill path {
    fill: #141416;
    /* Default light mode color */
}

@media (prefers-color-scheme: dark) {
    .svg-fill path {
        fill: #ffffff;
        /* Dark mode color */
    }
}

/* Define the animation */
@keyframes wiggle {

    0%,
    100% {
        transform: translateX(0) translateY(0);
    }

    25%,
    75% {
        transform: translateX(5px) translateY(-7px);
        /* Add y shaking */
    }

    50% {
        transform: translateX(0) translateY(10px);
        /* Add more y shaking */
    }
}

/* Style for the image */
.wiggle {

    transition: transform 0.3s ease-in-out;
    /* Smooth transition */
}

/* Apply the animation on hover */
.wiggle:hover {
    animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: 2;
}

.splash-cursor {
    cursor: url('fire.svg') 50 50, auto;
}

.image-grid img {
    width: 25vh;
}

.image-grid a {
    text-decoration: none;
}

@media (max-width: 1120px) {
    html {
        display: flex;
        justify-content: start;
        align-items: start;
    }
}

/* PROJECT MODES */

body.emk-mode,
body.emk-mode main * {
    background: rgb(45, 45, 45);
    color: #f5f5f5;
    border: none;
}

body.emk-mode header a,
body.emk-mode header a a:visited {
    text-decoration: none;
    background: rgb(45, 45, 45);
    color: #f5f5f5;
}

body.fd-mode {
    background-image: url('uploads/background-fd.png');

    /* Set the background size and position */
    background-size: cover;
    background-position: center;

    /* Set the padding to create some space around the text */
    padding: 20px;
}

body.emk-mode .content {
    font-size: small;
    border: none;
    padding: 8px 35px 35px;
}