{{ $path := .Get "path" }}
{{ if not $path }}
  {{ errorf "The \"latestfiles\" shortcode requires a `path` parameter." }}
{{ end }}

{{/* readDir is used to list files in a real filesystem directory */}}
{{ $files := readDir (printf "static/%s" $path) }}

{{/* Filter out any directories and sort files by modification date (descending) */}}
{{ $latestFiles := where $files ".IsDir" "eq" false | sort "ModTime" "desc" }}

{{/* Check if any files were found */}}
{{ if gt (len $latestFiles) 0 }}
  <ul>
  {{/* Range through the latest files */}}
  {{ range $latestFiles }}
    {{/* Construct the public-facing URL by omitting the "static/" prefix */}}
    <li><a href="/{{ $path }}/{{ .Name }}">{{ .Name }}</a></li>
  {{ end }}
  </ul>
{{ else }}
  <p>No files found in the specified directory.</p>
{{ end }}
